<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>服务检查</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="ping()">
        <ion-icon slot="start" name="send"></ion-icon>
        检查
      </ion-button>
      <ion-button color="danger" (click)="msgs=[]">
        <ion-icon slot="start" name="trash"></ion-icon>
        清空
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">服务检查</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let msg of msgs">
      {{ msg.msg }}
      <ion-badge slot="end">{{ msg.difference }}ms</ion-badge>
      <ion-note slot="end">{{ msg.time | date:'yyyy-MM-dd HH:mm:ss'}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>